<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ds.ticketmaster.mapper.BookingItemMapper">
  <resultMap id="BaseResultMap" type="com.ds.ticketmaster.entity.BookingItem">
    <id column="id" jdbcType="OTHER" property="id" typeHandler="com.ds.ticketmaster.config.database.UUIDTypeHandler" />
    <result column="booking_id" jdbcType="OTHER" property="bookingId" typeHandler="com.ds.ticketmaster.config.database.UUIDTypeHandler" />
    <result column="seat_inventory_id" jdbcType="OTHER" property="seatInventoryId" typeHandler="com.ds.ticketmaster.config.database.UUIDTypeHandler" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.util.UUID">
    delete from booking_items
    where id = #{id,jdbcType=OTHER,typeHandler=com.ds.ticketmaster.config.database.UUIDTypeHandler}
  </delete>
  <insert id="insert" parameterType="com.ds.ticketmaster.entity.BookingItem">
    insert into booking_items (id, 
      booking_id, 
      seat_inventory_id, 
      created_at, updated_at)
    values (#{id,jdbcType=OTHER,typeHandler=com.ds.ticketmaster.config.database.UUIDTypeHandler},
      #{bookingId,jdbcType=OTHER,typeHandler=com.ds.ticketmaster.config.database.UUIDTypeHandler},
      #{seatInventoryId,jdbcType=OTHER,typeHandler=com.ds.ticketmaster.config.database.UUIDTypeHandler},
      #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.ds.ticketmaster.entity.BookingItem">
    update booking_items
    set booking_id = #{bookingId,jdbcType=OTHER,typeHandler=com.ds.ticketmaster.config.database.UUIDTypeHandler},
      seat_inventory_id = #{seatInventoryId,jdbcType=OTHER,typeHandler=com.ds.ticketmaster.config.database.UUIDTypeHandler},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=OTHER,typeHandler=com.ds.ticketmaster.config.database.UUIDTypeHandler}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.util.UUID" resultMap="BaseResultMap">
    select id, booking_id, seat_inventory_id, created_at, updated_at
    from booking_items
    where id = #{id,jdbcType=OTHER,typeHandler=com.ds.ticketmaster.config.database.UUIDTypeHandler}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, booking_id, seat_inventory_id, created_at, updated_at
    from booking_items
  </select>
</mapper>